$black: #000000;
$white: #FFFFFF;
$white-30: rgba($white, 0.3);
$white-60: rgba($white, 0.6);
$white-3: rgba($white, 0.03);
$white-5: rgba($white, 0.05);
$white-8: rgba($white, 0.08);
$white-15: rgba($white, 0.15);
$white-15: #3D3E4F;
$stateBlue: #5C5CD6;
$indigo: #52A329;
$light-perano:#F7846E;
$perano: #46AFB9;
$mirage: #1B1C30;
$mirage-60: rgba($mirage, 0.6);
$mirage-30: rgba($mirage, 0.3);
$mirage-15: rgba($mirage, 0.15);
$mirage-8: rgba($mirage, 0.08);
$mirage-5: rgba($mirage, 0.05);
$warning: #E16F6F;
$accent1: rgba(163, 163, 245, 0.6);